@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,300);
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'mixins';
@import 'variables';
@import 'base';
@import 'buttons';
@import 'boxes';
@import 'card_post';
@import 'blog-index';
@import 'blog-post';
@import 'topbar';
@import 'navbar';
@import 'dropdown';
@import 'form-elements';
@import 'item_slider';
@import 'sidebar';
@import 'tabs';
@import 'footer';
@import 'staff';
@import 'accordions';
@font-face {
	font-family: 'CS Regular';
	src: url('../fonts/cs_regular.ttf');
	font-weight: normal;
	font-style: normal;
}

.center-heading{
	text-align:center;
	h2{
		text-transform: uppercase;
		font-weight: 700;
	}
	.border-width{
		height: 1px;
		width: 90px;
		background-color: $skincolor;
		display: block;
		margin: 10px auto;
	}
	p{
		font-size: 16px;
	}
}

.bg-grey{
	/*background: url('../imgs/pattern.png') repeat;*/
	background-color: #353535;
	h3{
		color:#fff;
		&:after{
			background-color: #fff;
		}
	}
}
.bg-lightgrey{
	/*background: url('../imgs/pattern-2.png') repeat;*/
	background-color: #f7f7f7;
	h3{
		color:#fff;
		&:after{
			background-color: #fff;
		}
	}
}
.item-img-wrap{
	position: relative;
	text-align: center;
	overflow: hidden;

}
.item-img-wrap img{
	@include transition(all 200ms linear);
	width:100%;
}
.item-img-overlay{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0;
	top: 0;
}
.item-img-overlay span{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../imgs/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	@include transition (opacity 250ms linear);
}

.item-img-wrap:hover .item-img-overlay span{
	opacity: 1;
}
.item-img-wrap:hover img{
	@include transform (scale(1.1));
}
.cat-list li{
	padding: 5px 0;
	border-bottom: 1px solid #e5e5e5;
}
.cat-list li a{
	color:#888;
	margin-right: 10px;
}
.cat-list li i{
	color:#888;
	margin-right: 10px;
	@include transition (all 0.3s ease-in-out);
}
.cat-list li:hover i{
	margin-left: 5px;
}
.cat-list li a:hover{
	color:$skincolor;
}
.latest-posts{
	padding: 60px;
	background: url("../imgs/pattern.png") repeat;
	h4{
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		padding-left: 10px;
		border-left: 3px solid $skincolor;
		margin-bottom: 30px;
	}
	h5 {
		font-weight: 600;
		margin-top: 6px;
	}
	a{
		color: white;

	}
	ul{
		padding: 0px;
		margin-bottom: 0px;
	}
	.post{
		padding: 20px 15px;
		margin-bottom: 15px;
		background-color: rgba(0, 0, 0, 0.4);
		.thumb{
			display: block;
			float: left;
			margin-right: 10px;
		}
		.news-content{
			overflow: hidden;
		}
	}
	.post:last-child{
		margin-bottom: 0;
	}
}
.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  /* border-bottom: 1px solid $skincolor; */
  margin: auto;
}
.center-heading {
  text-align: center;
  margin-bottom: 50px;
}

.center-heading h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 30px;
}

.center-heading h2 strong {
  font-weight: 700;
}

@media(min-width:768px){
	.v-align-children {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		flex-direction: row;
		-webkit-flex-direction: row;
	}
}
.header-post{
	a{
		color: whitesmoke;
	}
	&::before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000000, 0.5);
	}

	position: relative;
	background-color: #393939;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 120px 0;

	.header-content{
		position: relative;
		z-index: 2;
		color: white !important;
		h1{
			color: white;
			margin: 0px;
			font-weight: 800;
			font-size: 55px;
			line-height: 70px;
		}
		h4{
			color: white;
			margin: 0px;
			font-weight: 600;
			line-height: 70px;
			>img{
				width: 25px;
			}
		}
	}

}
@media(max-width: 991px){
	.header-post{
			padding: 35px 0px;
		h1{
			line-height: 50px !important;
			font-size: 2.5em !important;
		}
		h4{
			line-height: 50px !important;
			font-size: 1.2em !important;
		}
	}
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: $skincolor;
	border-color: $skincolor;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: $skincolor;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

/**login register**/
.form-group{
		position: relative;
		.form-control{
			min-height: 45px;
		}
		.input-icon{
			position: absolute;
			display: block;
			right: 0px;
			top:0px;
			height: 45px;
			width: 45px;
			text-align: center;
			line-height: 45px;
			font-size: 20px;
		}
	}
.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.hr-or {
	height: 1px;
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.back-to-top{
	position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    bottom: 10px;
    right: 10px;
    background: $skincolor;
    color: #fff;
    line-height: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}
.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
}
